<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "order">

	
<insert id="insert">

insert into ordertable(order_id,order_name,order_product,order_sum,order_addr1,order_addr2,order_addr3,order_code,order_cart)
values(#{order_id},#{order_name},#{order_product},#{order_sum},#{order_addr1},#{order_addr2},#{order_addr3},#{order_code},#{order_cart})


</insert>
	
	
</mapper>