<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "product">

	

<insert id="register">

insert into producttable(product_name,product_amount,product_price,filename,product_brand) values(#{product_name},#{product_amount},#{product_price},#{filename},#{product_brand})


</insert>
	
	<select id="list" resultType="com.on.project.vo.ProductVo">
	
	select * from producttable
	
	</select>
	
	
	<select id="edit" parameterType="int" resultType="com.on.project.vo.ProductVo">
	
	select * from producttable where product_code=#{product_code}
	
	</select>
	
	
	<update id="update">
	
	update producttable set product_name=#{product_name},product_amount=#{product_amount},product_price=#{product_price},filename=#{filename},product_brand=#{product_brand}
	
	</update>
	
	<select id="file" resultType="String">
	
	select filename from producttable where product_code=#{product_code}
	
	</select>
	
	
	<delete id="delete">
	
	delete from producttable where product_code=#{product_code}
	
	</delete>
	
	<select id="detail" resultType="com.on.project.vo.ProductVo">
	
	select * from producttable where product_code = #{product_code}
	
	</select>
</mapper>